*{
  border: 0;
}

.container{
  display: flex;
  height: 80vh;
  width: 98vw;
  border: 2px black;
  gap: 1rem;
}
aside, main {
  border: 3px solid black;
}

aside{
  background-color: green;
  flex-basis: 25%;
}

main{
  background-color: blue;
  flex: 1;
}